body {
	height: 100vh;
	min-width: 320px;
	overflow-x: hidden;
	// display: flex;
	// flex-direction: column;
	// font-size: 10px;
}

/* .container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
} */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
}

.clearfix::after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}